#header
{
    width: 100%;
    height: 60px;
    background-color: #333333;
    display: flex;
    margin-top: 30px;
}
#header div
{
    width: 8%;
    height: 45px;
    text-align: center;
    padding-top: 15px;
}
#header div a
{
    font-size: 20px;    
    font-family: Arial;
    color: white;
    text-decoration: none;     
}
#header div:hover
{
    background-color: #4caf50;
}


#content
{    
    width: 70%;
    margin: 1cm 5cm;
    height: 500px;
    border-left: 2px inset grey;
    border-top: 2px inset grey;
}
#content .content-header
{
    width: 100%;
    background-color: #2a3d51;
    height: 50px;
    display: flex;
}
#content .content-header div a:hover
{
    background-color: blue;
    padding: 8px 10px;
}
#content .content-header .startbootstrap
{
    width: 30%;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;
}
#content .content-header .startbootstrap a
{
    font-size: 20px;    
    font-family: Arial;
    color: white;
    text-decoration: none;
}
#content .content-header .portfolio
{
    width: 10%;
    padding-top: 13px;
    text-align: center;
    font-weight: bold;    
}
#content .content-header .portfolio a
{
    font-size: 10px;    
    font-family: Arial;
    color: white;
    text-decoration: none;
}
#content .content-header .portfolio1
{
    margin-left: 370px;
}

#content .content2
{
    margin-top: 1cm;
    justify-content: center;
}
#content .content2 .text1 .contactme
{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    color: #2a3d51;
    font-weight: bold;
}
#content .content2 .text1 .hr
{
    display: flex;
    justify-content: center;
}
#content .content2 .text1 .hr div
{
    color: #2a3d51;
    width: 70px;
}
#content .content2 .text1 .hr .fa-star
{
    color: #2a3d51;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
#content .content2 .text2
{
    margin-top: 40px;
    margin-left: 180px;
    width: 70%;
    justify-content: center;
}
#content .content2 .text2 hr,p
{    
    font-family: Arial;
    font-weight: bold;
    color: gainsboro;
}
