body {
    background-color: #f5f5dd;
    font-family: Arial;
    font-size: 20px;
}

.input {
    width: 100%;
    border: 2px solid grey;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

body>div {
    margin-left: 20px;
    margin-right: 20px;
}

div>div {
    display: inline-block;
    width: 48%;
}

div>p
{
    width: 100%;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    margin-left: 20px;
}

#state {
    width: 60%;
}

#zip {
    width: 35%;
    margin-left: 20px;
}

#address {
    padding-right: 25px;
}

#input_check {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    width: 80px;
    height: 40px;
    background-color: #0e76f2;
    cursor: pointer;
}