body
{
    width: 100%;
    font-weight: bold;
}

#header
{
    text-align: center;
    padding: 40px;
    background-color: rgb(102, 102, 102);
    color: white;
    font: 40px Arial;
}

#content
{
    display: flex; 
}

#content .link
{
    width: 20%;
    background-color: rgb(204, 204, 204);     
    padding-top: 30px;
    padding-left: 20px; 
    line-height: 5mm;
}

#content .text
{
    width: 80%;
    background-color: #f1f1f1;
    font-family: Arial; 
    padding: 150px;
    padding-top: 0px;
    padding-left: 20px; 
    word-wrap: break-word;
}

#content .text .texthead
{    
    font-size: 15mm;  
}

p
{   
    font-size: 15px;
    line-height: 5mm;
}

#footer 
{
    text-align: center;
    padding: 30px;
    background-color: rgb(119, 119, 119);
    color: white;
    font: 30px Arial;
}